<div class="page-bio">
  <div class="bios-cards">
    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500">
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/plane_mhbkz0.jpg", :quality=>55) %></div>
          <div class="details">
            <h2> <%= t '.before_title' %></h2>
            <p> <%= t '.before_text' %></p>
            <%= link_to t('.before_link'), "#", id: "popup-prkLink" %>
          </div>
        </div>
    </div>

    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500" >
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/man_computer_xrzvtp.jpg", :quality=>55) %></div>
          <div class="details">
            <h2><%= t '.now_title' %></h2>
            <p>
              <%= t '.now_text' %>
              <%= link_to 'Le Wagon', 'https://www.lewagon.com/', style: 'color:  #808080' %>
              <%= t '.now_text_2' %>
            </p>
            <%= link_to(projects_path) do%>
              <p style="color: #808080; font-size: 15px;">
                <%= t '.now_link' %>
              </p>
            <% end %>
          </div>
        </div>
    </div>

    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500">
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/web_dev_gi7rim.jpg", :quality=>55)%></div>
          <div class="details">
  	        <h2><%= t ('.more_title') %></h2>
            <p style="margin: 0 0 4px 0;">
              <%= t ('.more_text') %>
            </p>
  	        <%= link_to("https://github.com/prkince", target: "_blank") do%>
  	         <p style="margin: 0 0 0 0; color: #808080; font-size: 15px;"><%= t ('.more_link') %> 
             </p>
  	        <% end %>
  	       	<%= link_to("https://github.com/prkince/resume_prk/raw/master/resume_prk.pdf", target: "_blank") do%>
  		      	<p style="margin: 0 0 0 0; color: #808080; font-size: 15px;">
                <%= t ('.more_link_2') %>   
              </p>
  	        <% end %>

          </div>
        </div>
    </div>

  </div>

  <!-- modal popup-prk content begin -->

  <div id="popup-prkBox" class="popup-prk">
    <div class="popup-prk-content">
        <div class="popup-prk-head">
            <span id="closePopup" class="close">x</span>
            <h2> <%= t '.perso_title'  %></h2>
        </div>
        <div class="popup-prk-main">
          <%= t '.perso_text_html'  %>
        </div>
    </div>
  </div>
  <!-- modal popup-prk content end -->

</div>