<div class="bios-cards">
  <div class="container-bios-card" data-aos="fade-up" data-aos-delay="1000">
      <div class="description">
        <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/plane_mhbkz0.jpg", :quality=>55) %></div>
        <div class="details">
          <h2>Before</h2>
          <p>After working for 10 years into the international transport field of artwork and antiques, I have decided in 2019 to follow a new path I have always been attracted to, the IT field.</p>
        </div>
      </div>
  </div>

  <div class="container-bios-card" data-aos="fade-up" data-aos-delay="2000" >
      <div class="description">
        <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/man_computer_xrzvtp.jpg", :quality=>55) %></div>
        <div class="details">
          <h2>Now</h2>
          <p>During the past months, I have been able to 'upgrade' myself while attending Le Wagon coding school and by doing some jobs in freelance.</p>
        </div>
      </div>
  </div>

  <div class="container-bios-card" data-aos="fade-up" data-aos-delay="2800">
      <div class="description">
        <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/web_dev_gi7rim.jpg", :quality=>55)%></div>
        <div class="details">
	        <h2>More</h2>
	        <%= link_to("https://github.com/prkince", target: "_blank") do%>
	        <p>You can find me on Github to follow coding activity.</p>
	        <% end %>
	       	<%= link_to("https://github.com/prkince/resume_prk/blob/master/resume_prk.pdf", target: "_blank") do%>
		      	<p>You can check my resume here </p>
	        <% end %>

        </div>
      </div>
  </div>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
