<div class="page-bio">
  <div class="bios-cards">
    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500">
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/plane_mhbkz0.jpg", :quality=>55) %></div>
          <div class="details">
            <h2>Un début de carrière dans la logistique</h2>
            <p>Après une dizaine d'années dans le secteur du transport international d'antiquités et d'œuvres d'art, j'ai pris la décision en 2019 de commencer une nouvelle carrière en informatique, un secteur qui m’a toujours attiré. Ma carrière dans le domaine de la logistique et de l’art m'a permis d'exceller au cœur d'un marché compétitif et d’apprendre à bien gérer mon travail au quotidien.</p>
            <%= link_to "Voulez-vous en savoir plus?", "#", id: "popup-prkLink" %>
          </div>
        </div>
    </div>

    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500" >
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/man_computer_xrzvtp.jpg", :quality=>55) %></div>
          <div class="details">
            <h2>Une reconversion dans la programmation</h2>
            <p>Durant l’année 2019, j'ai été diplômé de l'école de code du <%= link_to "Wagon", "https://www.lewagon.com/", style: 'color:  #808080' %>. J'ai vraiment apprécié apprendre autant de choses en si peu de temps. De plus, avoir l'opportunité d'étudier tous les jours la programmation en binôme avec un camarade différent m'a permis de m'instruire plus efficacement et plus rapidement (et aussi d’avoir de nouveaux amis).</p>
            <%= link_to(projets_path) do%>
              <p style="color: #808080">J'ai depuis travaillé sur de multiples projets, dont le site internet de Ship Antiques.</p>
            <% end %>
          </div>
        </div>
    </div>

    <div class="container-bios-card" data-aos="fade-up" data-aos-delay="500">
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580905528/portfolio/web_dev_gi7rim.jpg", :quality=>55)%></div>
          <div class="details">
  	        <h2>Une personnalité</h2>
            <p style="margin: 0 0 4px 0;">J'ai un bon rapport avec des clients et des fournisseurs exigeants dans un environnement international. Je suis toujours partant pour apprendre et m'améliorer avec mes collègues. Par ailleurs, j'adore voyager et découvrir de nouveaux pays et cultures. Lorsque je ne suis pas à l'étranger, je suis probablement en train de faire du jardinage, j'adore cela, s'occuper des plantes nécessite de la patience, une de mes grandes qualités.</p>
  	        <%= link_to("https://github.com/prkince", target: "_blank") do%>
             <p style="margin: 0 0 0 0; color: #808080">Vous pouvez me trouver sur Github pour suivre mes activités de développement.</p>
  	        <% end %>
  	       	<%= link_to("https://github.com/prkince/resume_prk/raw/master/resume_prk.pdf", target: "_blank") do%>
  		      	<p style="margin: 0 0 0 0; color: #808080">Vous pouvez télécharger mon CV ici.</p>
  	        <% end %>

          </div>
        </div>
    </div>

  </div>

  <!-- modal popup-prk content begin -->

  <div id="popup-prkBox" class="popup-prk">
    <div class="popup-prk-content">
        <div class="popup-prk-head">
            <span class="close">x</span>
            <h2>Réalisation Personnelle</h2>
        </div>
        <div class="popup-prk-main">
            <p> <strong> Contexte:</strong>  Il y a quelques années, j'ai noté des problèmes récurrents avec certains de nos partenaires. Nous étions confrontés à des personnes inefficaces et peu fiables, il y avait des irrégularités dans le service offert, et nous perdions des parts de marchés et au final des clients.
            </p>
            <p> C'est alors qu’avec nos partenaires américains, un de nos marchés clés, l'idée est venue d'établir un nouveau partenariat, pour créer une meilleure relation de travail et améliorer nos processus de communication.
            </p>
            <p><strong>Solution:</strong> Afin d'accomplir cela, je me suis focalisé sur les principaux marchés (New York et Los Angeles), et j'ai pris contact avec nos partenaires de longue date, et j’en ai démarché de nouveaux. Après validation du budget et confirmation des prises de rendez-vous, il était temps pour moi de partir là-bas. Avoir l'occasion d'être sur place pour quelques jours était incroyablement enrichissant, en faisant cela j'ai pu sécuriser un marché en perte de vitesse et je suis revenu en France avec de nouveaux clients et fournisseurs.
            </p>
            <p> <strong> Accomplissement:</strong> Pour construire des relations pérennes et de confiance avec ses partenaires, il est nécessaire d'accroitre son réseau, être curieux et ne pas avoir peur d'aller plus loin.
            </p> 
        </div>
    </div>

  <!-- modal popup-prk content end -->

  </div>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>