<div class="page-projects">
  <div class="projects-cards">
    <div class="container-projects-card" data-aos="fade-down" data-aos-delay="500">
      <%= link_to("https://shipantiques.herokuapp.com/", target: "_blank" , class: "project-link") do %>
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580894285/portfolio/ship_antiques_accueil_e8mydf.png", :quality=>55) %></div>
          <div class="details">
            <h2>Ship Antiques</h2>
            <p>Nouveau design et développement Front-End du site de la société. Grâce à ma solide expérience en logistique, j'ai pu mettre en avant les points essentiels et j’ai rapidement saisi la finalité du projet. Dans un premier temps j'ai utilisé un modèle pour montrer mes idées plus concrètement et par la suite j'ai créé l'application de A à Z en utilisant Ruby On Rails.</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container-projects-card" data-aos="fade-down" data-aos-delay="500">
      <%= link_to("https://bobato-prk.herokuapp.com/", target: "_blank" , class: "project-link") do %>
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1582884694/portfolio/bobato_home.png", :quality=>55) %></div>
          <div class="details">
            <h2>BOBATO</h2>
            <p>Maquettes artisanales de bateaux de l’île Maurice. Passez commande en ligne et recevez le bateau directement chez vous. Création de tous les éléments du CRUD, création des comptes Administrateur et Utilisateurs, paiement en ligne possible à l'aide de l'outil Stripe. Technologie: Ruby On Rails, React (toujours en phase de développement).</p>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="container-projects-card" data-aos="fade-down" data-aos-delay="500" >
      <%= link_to("http://www.equalpath.best/", target: "_blank" , class: "project-link") do %>
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1581333751/portfolio/equalpath_accueil_hr9al6.png", :quality=>55) %></div>
          <div class="details">
            <h2>Equal path</h2>
            <p>Une plateforme te permettant de trouver le job de tes rêves. Design, implémentation et mise en production d'un clone de AirBnB et un prototype Rails. Projet final du Wagon, confectionné en 2 semaines avec 4 personnes. La structure utilise les outils classiques, avec du Javascript et du CSS. Technologie: Ruby On Rails.</p>
          </div>
        </div>
      <% end %>
    </div>

    
    <div class="container-projects-card" data-aos="fade-down" data-aos-delay="500">
      <%= link_to("https://airbnb-palm.herokuapp.com/", target: "_blank" , class: "project-link") do %>
        <div class="description">
          <div class="description-img"> <%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/c_scale,w_250/v1580894285/portfolio/palm_accueil_dnqhkt.png", :quality=>55) %></div>
          <div class="details">
            <h2>Palm</h2>
            <p>Le site de voyage Palm vous permets de louer des îles autour du monde. Projet du Wagon. Création de notre premier MVC. Technologie: Ruby On Rails</p>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
