<div class="page-contact">
  <div class="contacts-container" align="center" data-aos="zoom-in" data-aos-delay="800">

    <%= simple_form_for @contact do |f| %>
      <%= f.label :contact, label: "Contactez Moi"  %>
      <%= f.input :name, :required => true, label: "Nom:"  %>
      <%= f.input :email, :required => true, label: "Email:" %>
      <%= f.input :subject, :required => true, label: "Sujet du message:" %>
      <%= f.input :content, :as => :text, :required => true, label: "Contenu du message:" %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        <%= f.button :submit, 'Envoi', :class=> "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
    <%= render './shared/contacts_links'  %>

</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
