<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pierrick Delage - Portfolio</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('https://res.cloudinary.com/dovu27lye/image/upload/v1580889155/portfolio/icon-cycling_zdolzu.png') %>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="container-prk background-image-prk">
      <%= render 'shared/navbar'  %>
      <%= render 'shared/footer'  %>
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
